/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 1rem;
}

.search {
    margin-bottom: 2rem;
}

.search form {
    display: flex;
    gap: 0.5rem;
}

.search input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.products ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.products li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.products a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: auto; /* Фиксирует футер внизу */
}
.form-control {
    fill: none;
    background: transparent;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}