/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-top: auto; /* Фиксирует футер внизу */
}

/* Страница входа */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f9f9f9;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007BFF;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-container label {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
}

.login-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.login-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
}